<h1 class="m-3">Add a movie</h1>

<div class="card m-3 rounded-3 shadow-sm" style="width: 40rem;">
  <div class="m-3">
    <%= simple_form_for [@list, @bookmark], data: { controller: "movie-autocomplete", movie_autocomplete_target: "form" } do |f| %>
      <%= f.input :movie, input_html: { data: { movie_autocomplete_target: "input", action: "input->movie-autocomplete#search" }, id: "autocomplete-field", value: "" } %>
      <ul id="autocomplete-options" data-movie-autocomplete-target="options" data-action="click->movie-autocomplete#select">
      </ul>
      <%= f.input :comment, placeholder: "Your thoughts about this movie" %>
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
      <%= f.button :submit, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
